<!DOCTYPE html>
<html>

<head>
    <title>{{ myself.name }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'information/style.css' %}" />
</head>

<body>
    <header>
        {% include "information/topnav.html" %}
    </header>

    <main>
        <div>
            <h2>{{ myself.name }}</h2>
            <img id="portrait" src="{{ myself.picture.url }}" alt="Portrait" />
            <p> {{ myself.general_description }} </p>
            <p> {{ myself.professional_description }} </p>
        </div>

        {% if jobs %}
            <h2> Employment </h2>
            {% include "information/jobs.html" %}
        {% endif %}

        {% if software_projects %}
            <h2> Software </h2>
            {% include "information/software.html" %}
        {% endif %}

        {% if languages or frameworks or tools or others %}
            <h2> Skills </h2>
            {% include "information/skills.html" with skills=languages %}
            {% include "information/skills.html" with skills=frameworks %}
            {% include "information/skills.html" with skills=tools %}
            {% include "information/skills.html" with skills=others %}
        {% endif %}

        {% if degrees %}
            <h2> Education </h2>
            {% include "information/education_quick.html" %}
        {% endif %}
    </main>

</body>

</html>