<ul>
    {% for degree in degrees %}
        <li>
            {{ degree.start_date|date:'m/Y' }} - {{ degree.end_date|date:'m/Y' }}:
            <span class="degreeType">{{ degree.degree_type }}</span> at {{degree.university}} <br>
            {% if degree.advisor.website %}
                Advisor: <a href="{{ degree.advisor.website }}" target="_blank">{{ degree.advisor }}</a> <br>
            {% else %}
            Advisor: {{ degree.advisor }} <br>
            {% endif %}
            {% if degree.thesis %}
                Thesis: <a href={{ degree.thesis.pdf.url }} target="_blank">{{ degree.thesis.title }}</a> <br>
            {% endif %}
            {{ degree.comment }}
        </li>
    {% endfor %}
</ul>