<!DOCTYPE html>
<html>
<head>
<title>{{ myself.name }}</title>
{% load static %}
<link rel="stylesheet" href="{% static 'information/style.css' %}">
</head>
<body>

<div class="topnav">
    <div class="topnav_pages">
        <a class="active" href="{% url 'coding' %}">Programming</a>
        <span>/</span>
        <a href="{% url 'math' %}">Mathematics</a>
    </div>
    <div class="topnav_links">
        <a href="mailto:{{ myself.email }}" target="_blank">
            <img class="icon" src="{% static 'information/mail-icon.png' %}">
        </a>
        <a href="{{ myself.git }}" target="_blank">
            <img class="icon" src="{% static 'information/github.png' %}">
        </a>
        <a href="{{ myself.linkedin }}" target="_blank">
            <img class="icon" src="{% static 'information/linkedin.png' %}">
        </a>
    </div>
</div> 

<h2>{{ myself.name }}</h2>

<div class="portrait">
    <img class="portrait"
         src="{{ myself.picture.url }}"
         alt="Portrait">
</div>

<p> {{ myself.general_description }} </p>
<p> {{ myself.academic_description }} </p>
<!-- <p> <b> Contact </b>
    <a href="mailto:{{ myself.email }}">{{ myself.email }}</a>
</p> -->
    
{% if articles %}
    <h2> Articles </h2>
    {% include "information/articles.html" %}
{% endif %}

{% if software_projects %}
    <h2> Research related software </h2>
    {% include "information/software.html" %}
{% endif %}

{% if jobs %}
    <h2> Employment </h2>
    {% include "information/jobs.html" %}
{% endif %}

{% if degrees %}
    <h2> Education </h2>
    {% include "information/education.html" %}
{% endif %}

{% if notes %}
    <h2> Notes </h2>
    {% include "information/notes.html" %}
{% endif %}

{% if conference_talks %}
    <h2> Conference Talks </h2>
    {% include "information/talks.html" with talks=conference_talks %}
{% endif %}

{% if seminar_talks %}
    <h2> Seminar Talks </h2>
    {% include "information/talks.html" with talks=seminar_talks %}
{% endif %}

{% if posters_presentations %}
    <h2> Poster Presentations </h2>
    {% include "information/posters_presentations.html" %}
{% endif %}

{% if local_talks %}
    <h2> Local Talks </h2>
    {% include "information/talks.html" with talks=local_talks %}
{% endif %}

{% if classes %}
    <h2> Teaching </h2>
    {% include "information/teaching.html" %}
{% endif %}

</body>
</html> 