<a href={{ paper.pdf.url }} target="_blank">{{ paper.title }}</a>.
{% if paper.coauthors.all %}
    Joint with
    {% for author in paper.coauthors.all|dictsort:"name" %}
        {% if author.website %}
            <a href="{{ author.website }}" target="_blank">{{ author }}</a>{% if forloop.last %}. {% else %}, {% endif %}
        {% else %}
            {{ author }}{% if forloop.last %}. {% else %}, {% endif %}
        {% endif %}
    {% endfor %}
{% endif %} 
{% if paper.journal %}
    <span class="journal"> {{paper.journal}}. </span>
{% endif %}
<a href="https://arxiv.org/abs/{{ paper.arxiv }}" target="_blank">arXiv:{{ paper.arxiv }}</a>.
{% if paper.comment %}
    {{ paper.comment }}.
{% endif %}