<a href={{ paper.pdf.url }}>{{ paper.title }}</a>.
{% if paper.coauthors.all %}
    Joint with
    {% for author in paper.coauthors.all|dictsort:"name" %}
        {% if author.website %}
            <a href="{{ author.website }}">{{ author }}</a>{% if forloop.last %}. {% else %}, {% endif %}
        {% else %}
            {{ author }}{% if forloop.last %}. {% else %}, {% endif %}
        {% endif %}
    {% endfor %}
{% endif %} 
{% if paper.journal %}
    <em> {{paper.journal}}. </em>
{% endif %}
<a href="https://arxiv.org/abs/{{ paper.arxiv }}">arXiv:{{ paper.arxiv }}</a>.
{% if paper.comment %}
    {{ paper.comment }}.
{% endif %}